.links {
    float: right;
  }
.name{
    float:left;
}
main {
    min-height: 100vh;
    padding: 64px 24px 96px;
    box-shadow: 0 0 12px -2px black;
    color: #090101;
    font-family: 'Open Sans', sans-serif;
  }
  html{
    background-color: darkgrey;
  }
  header{
    font-size: 25px;
  }